<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<location>/tmp</location>
		</multipart-config>
	</servlet>
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>springmvc</servlet-name> -->
<!-- 		<url-pattern>*.html</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
		</param-value>
	</context-param>
	
	<error-page>
       	<error-code>404</error-code>
       	<location>/WEB-INF/views/error/404.jsp</location>
    </error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/error/403.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>URLs protegidas solo para el rol Editor</web-resource-name>
			<!-- Define the context-relative URL(s) to be protected -->
			<url-pattern>/horarios/*</url-pattern>
			<url-pattern>/noticias/*</url-pattern>
			<url-pattern>/peliculas/*</url-pattern>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- Anyone with this role may access this area -->
			<role-name>editor</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>URLs protegidas solo para el rol Gerente</web-resource-name>
			<!-- Define the context-relative URL(s) to be protected -->
			<url-pattern>/horarios/*</url-pattern>
			<url-pattern>/noticias/*</url-pattern>
			<url-pattern>/peliculas/*</url-pattern>
			<url-pattern>/banners/*</url-pattern>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- Anyone with this role may access this area -->
			<role-name>gerente</role-name>
		</auth-constraint>
	</security-constraint>
	
<!-- 	login básico de java -->
<!-- 	<login-config> -->
<!-- 		<auth-method>BASIC</auth-method> -->
<!-- 	</login-config> -->
	
	
<!-- 	login con html creado por mí -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/WEB-INF/views/formLogin.jsp</form-login-page>
			<form-error-page>/WEB-INF/views/formError.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
</web-app>